# EditorConfig is awesome: https://EditorConfig.org

# When opening a file, EditorConfig plugins look for a file named .editorconfig
# in the directory of the opened file and in every parent directory.
# A search for .editorconfig files will stop if the root filepath is reached
# or an EditorConfig file with root=true is found.

# EditorConfig files are read top to bottom and the most recent rules found
# take precedence. Properties from matching EditorConfig sections are applied
# in the order they were read, so properties in closer files take precedence.

# top-most EditorConfig file
root = true

[*]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

[*.md]
indent_size = 2
tab_width = 2
insert_final_newline = true

[.envrc]
end_of_line = lf

[.tool-versions]
end_of_line = lf