version: "2.4"

# noinspection ComposeUnknownKeys
x-common-env: &common-env
  HONEYCOMB_API_KEY: <mykey>
  HONEYCOMB_DATASET:
  HONEYCOMB_API: https://api.honeycomb.io
  HONEYCOMB_API_ENDPOINT: https://api.honeycomb.io
  OTEL_EXPORTER_OTLP_ENDPOINT: https://api.honeycomb.io
  OTEL_LOGS_EXPORTER: none
  OTEL_METRICS_EXPORTER: none
  OTEL_TRACES_EXPORTER: otlp
  OTEL_EXPORTER_OTLP_HEADERS: x-honeycomb-team=<mykey>
  OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
  MESSAGE_ENDPOINT: message-service:9000
  NAME_ENDPOINT: name-service:8000
  YEAR_ENDPOINT: year-service:6001
  REDIS_URL: redis
  OTEL_JAVAAGENT_DEBUG: true
  OTEL_RESOURCE_ATTRIBUTES: variation=otlp-baggage-always_off

services:
  frontend-java:
    container_name: frontend-service
    build: ./java/frontend
    image: hnyexample/frontend-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: frontend-java
    ports:
      - 7777:7777

  message-java:
    container_name: message-service
    build: ./java/message-service
    image: hnyexample/message-java
    environment:
      <<: *common-env
      SERVICE_NAME: message-java
    ports:
      - 9000:9000

  name-java:
    container_name: name-service
    build: ./java/name-service
    image: hnyexample/name-java
    environment:
      <<: *common-env
      SERVICE_NAME: name-java
      OTEL_TRACES_EXPORTER: otlp
      OTEL_PROPAGATORS: baggage
      OTEL_TRACES_SAMPLER: always_off

    ports:
      - 8000:8000

  year-java:
    container_name: year-service
    build: ./java/year-service
    image: hnyexample/year-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: year-java
    ports:
      - 6001:6001
