version: "2.4"

# noinspection ComposeUnknownKeys
x-common-env: &common-env
  HONEYCOMB_API_KEY:
  HONEYCOMB_DATASET:
  HONEYCOMB_API:
  OTEL_EXPORTER_OTLP_ENDPOINT: ${OTEL_EXPORTER_OTLP_ENDPOINT:-api.honeycomb.io}
  OTEL_RESOURCE_ATTRIBUTES: app.running-in=docker
  MESSAGE_ENDPOINT: message-service:9000
  NAME_ENDPOINT: name-service:8000
  YEAR_ENDPOINT: year-service:6001
  REDIS_URL: redis

services:
  java-frontend:
    container_name: frontend-service
    build: ./java/frontend
    image: hnyexample/frontend-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: java-frontend
    ports:
      - 7777:7777
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  java-message:
    container_name: message-service
    build: ./java/message-service
    image: hnyexample/message-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: java-message
    ports:
      - 9000:9000
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  java-name:
    container_name: name-service
    build: ./java/name-service
    image: hnyexample/name-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: java-name
    ports:
      - 8000:8000
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  java-year:
    container_name: year-service
    build: ./java/year-service
    image: hnyexample/year-java
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: java-year
    ports:
      - 6001:6001
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro
