version: "2.4"

x-common-env: &common-env
  HONEYCOMB_API_KEY: ${HONEYCOMB_API_KEY}
  OTEL_EXPORTER_OTLP_ENDPOINT: ${OTEL_EXPORTER_OTLP_ENDPOINT:-api.honeycomb.io}
  # TODO: remove OTEL_EXPORTER_OTLP_HEADERS once startNodeSDK() fully reads trace/log config from file
  OTEL_EXPORTER_OTLP_HEADERS: "x-honeycomb-team=${HONEYCOMB_API_KEY}"
  OTEL_RESOURCE_ATTRIBUTES: app.running-in=docker
  OTEL_EXPERIMENTAL_CONFIG_FILE: /otelconf.yaml
  MESSAGE_ENDPOINT: http://message-service:9000
  NAME_ENDPOINT: http://name-service:8000
  YEAR_ENDPOINT: http://year-service:6001
  REDIS_URL: redis

services:
  frontend-node:
    container_name: frontend-service
    build: ./node/frontend-service
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: node-frontend-service
    ports:
      - 7777:7777
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  message-node:
    container_name: message-service
    build: ./node/message-service
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: node-message-service
    ports:
      - 9000:9000
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  name-node:
    container_name: name-service
    build: ./node/name-service
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: node-name-service
    ports:
      - 8000:8000
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro

  year-node:
    container_name: year-service
    build: ./node/year-service
    environment:
      <<: *common-env
      OTEL_SERVICE_NAME: node-year-service
    ports:
      - 6001:6001
    volumes:
      - ./otelconf.yaml:/otelconf.yaml:ro
