receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:55680
      http:
        endpoint: 0.0.0.0:55681
        # CORS for browser communication
        cors:
          allowed_origins: "http://localhost:8080"


processors:
  batch:

exporters:
  logging:
    loglevel: debug
  otlp/hny:
    endpoint: ${HONEYCOMB_API_ENDPOINT}
    headers:
      # use environment variables to set the values for these headers
      "x-honeycomb-team": "${HONEYCOMB_API_KEY}"
    #   "x-honeycomb-dataset": "${HONEYCOMB_DATASET}" for classic only
#   file: # optionally export data to a file
#     path: ./data.json # optional file to store exported data
  datadog:
    traces:
      span_name_as_resource_name: true
    hostname: "otelcol-docker"
    api:
      key: ${DD_API_KEY}
      site: ${DD_SITE}
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/hny, datadog, logging]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/hny, datadog, logging]
