# EditorConfig is awesome: https://EditorConfig.org

# When opening a file, EditorConfig plugins look for a file named .editorconfig
# in the directory of the opened file and in every parent directory.
# A search for .editorconfig files will stop if the root filepath is reached
# or an EditorConfig file with root=true is found.

# EditorConfig files are read top to bottom and the most recent rules found
# take precedence. Properties from matching EditorConfig sections are applied
# in the order they were read, so properties in closer files take precedence.

# https://gist.github.com/eksperimental/6a43b9a0ab8d718f5886e7025062fcbd

# Elixir files
[*.eex, *.exs]

indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab