version: "2.4"

services:
  frontend:
    build:
        context: .
        dockerfile: ./frontend/Dockerfile
    image: frontend-go-auto:local
    ports:
      - 7007:7007
    volumes:
      - ../otelconf.yaml:/otelconf.yaml:ro

  message:
    build:
        context: .
        dockerfile: ./message-service/Dockerfile
    image: message-go-auto:local
    ports:
      - 9000:9000
    volumes:
      - ../otelconf.yaml:/otelconf.yaml:ro

  name:
    build:
        context: .
        dockerfile: ./name-service/Dockerfile
    image: name-go-auto:local
    ports:
      - 8000:8000
    volumes:
      - ../otelconf.yaml:/otelconf.yaml:ro

  year:
    build:
        context: .
        dockerfile: ./year-service/Dockerfile
    image: year-go-auto:local
    ports:
      - 6001:6001
    volumes:
      - ../otelconf.yaml:/otelconf.yaml:ro

